@using TravelTripProje.Models.Siniflar
@model List<Yorumlar>
@{
    ViewBag.Title = "YorumListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2 class="text-center my-4" style="font-size: 32px; font-weight: 700; color: black; background-color: white; padding: 10px 0; border-radius: 5px; border: 2px solid #ddd;">
    Yorum Listesi
</h2>
<br />
<table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>KULLANICI</th>
            <th>MAİL</th>
            <th>YORUM</th>
            <th>BLOG</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ID</td>
                <td>@x.KullaniciAdi</td>
                <td>@x.Mail</td>
                <td>@x.Yorum</td>
                <td>@x.Blog.Baslik</td>
                <td><a href="/Admin/YorumSil/@x.ID" class="btn btn-danger btn-sm" style="width: 100px; background-color: #f44336; border: none; color: white; transition: background-color 0.3s ease;">Sil</a></td>
                <td><a href="/Admin/YorumGetir/@x.ID" class="btn btn-success btn-sm" style="width: 100px; background-color: #4CAF50; border: none; color: white; transition: background-color 0.3s ease;">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>